.DS_Store
node_modules
node_modules.nosync
/static
/dist
/public
/patches
.env
.env.*
!.env.example
/android/app/src/main/assets/public
/ios/App/App/public

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
.yarn